header {

  width: 100%;
  position: sticky;
  top:0;
  height:45vh;
  padding: 10px 20px 0px;
  background-image:url('travel-pic.png');
  opacity: 0.7;
}

.fa-route {
  font-size: 50px;
  margin-bottom: 20px;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.lists-left {
  display: flex;
}

.route-list {
  color: black;
  background: rgba(255,255,255, 0.7);
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
}

.route-list:hover {
  background: rgba(255,255,255, 1);
}

.favorite-list {
  margin-left:20px;
  color: black;
  background: rgba(255,255,255, 0.7);
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
}

.favorite-list:hover {
  background: rgba(255,255,255, 1);
}

.lists-right {
  display: flex;
}

.user-nickname {
  color: black;
  background: rgba(255,255,255, 0.7);
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
}

.user-nickname:hover {
  background: rgba(255,255,255, 1);
}

.logout {
  margin-left:20px;
  color: black;
  background: rgba(255,255,255, 0.7);
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
}

.logout:hover {
  background: rgba(255,255,255, 1);
}

