header {
  width: 100%;
  position: sticky;
  top:0;
  height:7vh;
  padding: 10px 20px 0px;
  z-index:999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(45,45,45, 0.8);
}

.fa-route {
  font-size: 30px;
  color: white;
  
}


.nav {
  display: flex;
}

.lists-left {
  display: flex;
}

.route-list {
  color: black;
  background: rgba(255,255,255, 0.7);
  font-size: 15px;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 0 8px black;
}

.route-list:hover {
  background: rgba(255,255,255, 1);
}

.favorite-list {
  margin-left:20px;
  color: black;
  background: rgba(255,255,255, 0.7);
  font-size: 15px;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 0 8px black;
}

.favorite-list:hover {
  background: rgba(255,255,255, 1);
}

.new-list {
  color: black;
  background: rgba(255,255,255, 0.7);
  font-size: 15px;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 0 8px black;
  margin-left: 20px;
}

.new-list:hover {
  background: rgba(255,255,255, 1);
}

.lists-right {
  display: flex;
}

.header-button {
  margin-left:20px;
  color: black;
  background: rgba(255,255,255, 0.7);
  font-size: 15px;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 0 8px black;
}

.header-button:hover {
  background: rgba(255,255,255, 1);
}

