.favorite-btn {
  background-color: white;
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  height: 40px;
}

.favorite-btn:hover  {
  opacity: 0.7;
}

.favorite-btn:active  {
  position: relative;
  top: 2px;
}

.favorite-star-icon {
  margin-right: 5px;
}