.add-plan {
  background-color: #005500;
  text-align: center;
  margin: 20px auto;
  padding:10px;
  border-radius: 20px;
  color: white;
  width: 50%;
}

.add-plan:hover {
  background-color: green;
}

.plan-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px;
}

.plan-list {
  margin-top: 20px;

}

.submit {
  padding: 10px;
  background-color: darkgray;
  color: white;
  border-radius: 30px;
  margin: 15px auto;
  width: 150px;
}

.submit:hover {
  background-color: lightgray;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.plan-form-wrapper {
  width: 100%;
  height: 100%;
}

.plan-form-box {
  width: 80vw;
  margin: 50px auto;
  text-align: center;
  background: rgba(45,45,45, 0.8);
  color: white;
  height: 100%;
  padding: 30px 0;
}

.plan-form-box h3 {
  font-size: 25px;
}

.plan-text {
  height: 200px;
}

.plan-upload {
  margin: 30px 0;
}

.plan-image {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

.add-box {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  background-color: #005500;
  padding:10px;
  border-radius: 20px;
  margin-bottom: 40px;

}

.add-show {
  color: white;

}

.add-box:hover {
  background-color: green;

}