.post-box {
  display: flex;
  flex-direction: column;
}

.routes-wrapper {
    background-image:url('travel.jpg');
    height: 1000px;
}



.posts-wrapper {
  text-align: center;
}

.content {
  display: flex;
  padding-left: 30px;
  margin: 5px 0;
  color: cornflowerblue;
}

.content-name {
  background-color: cadetblue;
  border-radius: 10px;
  color: white;
  padding: 5px 20px;
  margin-right: 8px;
  box-shadow: 0 0 8px gray;
}

.posts {
  width: 50%;
  padding: 20px 0;
  margin-left: 50px;
  margin-bottom: 20px;
  background-color: lightgray;
  border-radius: 30px;
  box-shadow: 0 0 8px gray;
}

.details {
  text-align: center;
}

.post-nickname {
  text-align: center;
  color: white;
}
