.post-box {
  display: flex;
  flex-direction: column;
}

body {
    background-image:url('outside.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.post {
  text-align: center;

}

.posts-wrapper {
  text-align: center;
}

.content {
  display: flex;
  padding-left: 30px;
  margin: 5px 0;
  color: black;
}

.content-name {
  background-color: cadetblue;
  border-radius: 10px;
  color: white;
  padding: 5px 20px;
  margin-right: 8px;
  box-shadow: 0 0 8px gray;
}

.posts {
  width: 80vw;
  padding: 20px 0;
  margin-left: 50px;
  margin-bottom: 20px;
  background-color: #CCFFCC;
  border-radius: 30px;
  box-shadow: 0 0 8px #66FF66;
}

.details {
  text-align: center;
}

.post-nickname {
  text-align: center;
  color: #009900;
}

.details {
  width: 80vw;
  padding: 20px 0;
  margin-left: 50px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border-radius: 30px;
  box-shadow: 0 0 8px gray;
}

.favorite-count {
  background-color: orange;
}

.route-contents h1{
  width: 20%;
  margin: 20px auto;
  border-radius: 30px;
  color: orange;
  padding: 5px 0;
  background-color: white;
  box-shadow: 0 0 8px #66FF66;
}

.form-wrapper {
  width: 100%;
  height: 650px;
}

.form-box {
  width: 80vw;
  margin: 100px auto;
  text-align: center;
  background: rgba(45,45,45, 0.8);
  color: white;
  height: 100%;
  padding: 30px 0;
}

.weight-bold-text {
  margin-top: 20px;
}

.form-title{
  width: 500px;
  height: 30px;
}

.form-outline {
  width: 500px;
  height: 110px;
}

.region {
  display: flex;
  margin: 0 auto;
}

.prefecture-select {
  width: 150px;
  height: 30px;
}

.form-city {
  height: 30px;
  width: 300px;
}

.member-select {
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
}